@import base
@import compass
@import blueprint
@import blueprint/scaffolding
@import compass/css3
@import "blueprint/fancy-type"

kglobal-reset

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-scaffolding
  padding: 0px

img.bg
  min-height: 100%
  min-width: 1024px

  width: 100%
  height: auto

  position: fixed
  top: 0
  left: 0

#content
  height: 200px
  width: 600px
  margin-left: auto
  margin-right: auto
  font-size: 80px
  font-family: 'FuturaStdMedium'
  // bring to front
  position: relative



@font-face
  font-family: 'FuturaStdMedium'
  src: url('.../fonts/futurastd-medium-webfont.eot')
  src: url('.../fonts/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype')
  src: url('.../fonts/futurastd-medium-webfont.woff') format('woff')
  src: url('.../fonts/futurastd-medium-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FuturaStdMedium'
  src: url("../fonts/futurastd-medium-webfont.eot")
  src: local("☺"), url("../fonts/futurastd-medium-webfont.woff") format("woff"), url("../fonts/nfuturastd-medium-webfont.ttf") format("truetype")

