@import base
@import compass
@import blueprint
@import blueprint/scaffolding
@import compass/css3
@import "blueprint/fancy-type"
@import "compass/typography/lists/bullets"
@import compass/css3
@import tweets
@import "compass/css3/text-shadow"

+global-reset

body
  padding: 0px

  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-scaffolding
  +single-text-shadow

img.bg
  min-height: 100%
  min-width: 1024px

  width: 100%
  height: auto
  position: fixed
  top: 0
  left: 0

#content
  height: 100px
  width: 750px
  margin: auto
  top: 15%
  position: relative
  vertical-align: middle

  span.barcelona
    font-size: 123px
    letter-spacing: 2px
    font-family: 'FuturaStdMedium'
    // bring to front
    position: relative
    display: block
    +opacitybaruco

  span.ruby_conference
    position: relative
    font-size: 55px
    display: inline
    top: -45px
    left: 5px
    float: left
    +opacitybaruco

  span.september
    position: relative
    font-size: 40px
    left: 25%
    float: left
    +opacitybaruco

  .logo
    background: url('../images/logo.png') top left no-repeat
    height: 100px
    width: 100px
    position: relative
    top: -120px
    left: -5px
    float: right
    +opacitybaruco

#links
  top: 20px
  left: 0px
  margin: 0px
  padding-left: 0px
  position: relative
  width: 400px
  font-family: 'FuturaStdMedium'
  font-size: 15px
  +no-bullets
  +opacitybaruco
  &:hover
    color: white
    +opacity(10)


@font-face
  font-family: 'FuturaStdMedium'
  src: url('.../fonts/futurastd-medium-webfont.eot')
  src: url('.../fonts/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype')
  src: url('.../fonts/futurastd-medium-webfont.woff') format('woff')
  src: url('.../fonts/futurastd-medium-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FuturaStdMedium'
  src: url("../fonts/futurastd-medium-webfont.eot")
  src: local("☺"), url("../fonts/futurastd-medium-webfont.woff") format("woff"), url("../fonts/nfuturastd-medium-webfont.ttf") format("truetype")

