#tweets
  javascript:
      $(function() {
          $("#tweets").tweet({
              query: 'ruxii',
              join_text: false,
              avatar_size: 32,
              count: 5,
              loadint_text: "loading tweets..."
          });
      });

